<div class="container w-50 mt-3">
    <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
      <div class="mb-3">
        <label for="inputUser">Usuário</label>
        <input type="text" id="inputUser" name="inputUser" class="form-control" ngModel required>
      </div>
  
      <div class="mb-3">
        <label for="inputPassword">Senha</label>
        <input type="password" id="inputPassword" name="inputPassword" class="form-control" ngModel required>
      </div>
  
      <div *ngIf="invalidCredentials" class="alert alert-danger" role="alert">
        Usuário ou senha inválido
      </div>
  
      <button type="submit" class="btn btn-primary">Entrar</button>
    </form>
  </div>
  